


html, body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: black;
    /* text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #000; */
}